REACT_APP_GA_MEASUREMENT_ID=
REACT_APP_TRELLO_DASHBOARD_ENDPOINT=/api/trello-dashboard
REACT_APP_GOOGLE_API_KEY=
REACT_APP_STRAVA_SWIM_GOOGLE_SHEETS_ID=
REACT_APP_STRAVA_RUN_GOOGLE_SHEETS_ID=
REACT_APP_STRAVA_HIKE_GOOGLE_SHEETS_ID=
REACT_APP_STRAVA_WALK_GOOGLE_SHEETS_ID=
REACT_APP_OPEN_WEATHER_API_KEY=
